image: node:lts

pages:
  cache:
    paths:
      - node_modules/
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - public
  only:
    - main
    - master

# To deploy to GitLab Pages, the artifact folder MUST be named 'public'.
# Since astro.config.mjs already sets 'outDir' to 'public', this works automatically.